a{
color: black;
}
.header {
    background-image: url("Don.jpg");
    height: 400px;
    background-position: center;
    color: white;
}
a{
color: black;
}

.opacity {
    background-color: rgba(2,2,2,0.7);
    height: 400px;
}

    .opacity h1 {
        padding-top: 60px;
        margin: auto;
    }

/*End Header*/
.row{
	display:flex;
	flex-wrap: wrap;
}
.row>div[class*='col-']
{
	display: flex;
}

footer{
margin-right: 90px;
    width: 100%;
    
}
.container-fluid{
                min-height: 170px;
                color: black;
                padding-top: 20px;
            }
body{
    background-size:cover;
    height: auto;
}
*{
	box-sizing: border-box;

}

.col{
	margin-left: 162px;

	float: left;
	width:25%;
	padding: 0 10px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin:0 -5px;
}
.row > div[class*='col-']{
	display: flex;
	
}
.card{
background-color: #28a7454d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;


}
.container {
	width: 90%;
	max-width: 1250px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;

}
